{% extends "base.html" %}

{% block title %}Experiment Setup for {{ experiment.name }}{% endblock %}

{% block body %}
<style>
#bangbox {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}
</style>

<section class="panel config">
<h1>{{ experiment.name }} – Setup</h1>

{% if device %}
<h2>Recognized Device: {{ device.name }}</h2>
{% else %}
<h2>Device not recognized</h2>
<p>For persistent configuration, add this device to the experiment using
one of the following identifiers, or change your Client ID token:</p>
{% endif %}


<form action="/setclientid" method="post">
<p>
Your IP Address: <input type="text" class="code" value="{{ ip }}" size="40" disabled></input>
</p>
<p>
Your Client ID: <input type="text" name="clientid" class="code" value="{{ clientid }}" size="20"></input> <button type="submit">Update</button>
</p>

</form>

<form action="/selectrole" method="post">
{% if potentialRoles.length > 0 %}

{% if potentialRoles.length > 1 %}
<h2>Select role of this display</h2>
{% else %}
<h2>Assigned role of this display:</h2>
{% endif %}

{% for role in potentialRoles %}
<div class="radio-row">
<input type="radio" name="role" value="{{ role.role }}" {% if role == activeRole %}checked{% endif %}><label>{{ role.description }} <small>[{{ role.role }}]</small></label>
</div>
{% endfor %}

<p><small>(You can <a href="." target="_blank">open another browser window</a> to connect with additional clients)</small></p>

<p><small>(Edit the experiment description to change or add roles for this device)</small></p>
<button type="submit">Start</button>
{% else %}

<h2>No participation role is currently available for this device</h2>
<button type="submit">Update</button>

{% endif %}

</form>

<!--
<h2>Timing</h2>
<p>
Roundtrip Time: <input id="delay-value" type="text" class="code" value="&lt;measuring...&gt;" size="14" disabled></input> ms
</p>
<p>
Timestamp adjustment: <input id="timestamp-adjust-value" name="timestamp-adjust" type="text" class="code" value="&lt;measuring...&gt;" size="14" disabled></input> ms
</p>
<p><small>
Caveat: For timing-sensitive experiments, disable "use network provided time" for phones and "set time automatically" for PCs. Otherwise the internal time of devices may change mid-experiment!
</small></p>

-->
</section>


{% endblock %}