* {
  box-sizing: border-box;
  font-size: 1em;
}

html, body {
  margin: 0;
  padding: 0;
  
  font-family: sans-serif;

  background-color: #ffffff; /* needed for fullscreen */
}

html {
  width: 100%;
  height: 100%;
  
  font-size: 16px;
}

body {
  /* flex parent */
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 100%;
}

section.interface {
  
  /* flex child */
  flex: 1 0 auto; /* use auto height initially, do not shrink but grow as needed */

  /* flex parent */
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative; /* make offset parent */
  overflow: hidden;

  background-color: #000000;
  color: #ffffff;
}

section#interface-display,
section#interface-monitor {
  /* flex child */
  flex: 0 1 100vh; /* use full height initially, but shrink - needed for absolute positioned canvas */
  
  font-size: 1.2em;
}

section#interface-response {
  background-color: #ffffff;
  color: #000000;  
}


section.interface canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  max-width: 45em;
  white-space: pre-wrap;
  text-align: center;
  line-height: 1.7;
}

.content img {
  display: block;
  margin: 0 auto;
}

.buttons {
  /* flex parent */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  /* flex child */
  flex: 1;
  padding: 0.3em;
}

.buttons button {
  /* flex child */
  flex: 0 1 80px; /* do *not* grow to available space - interestingly, content still grows the button which is good */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3em;
  white-space: pre-wrap;
}

/* compass buttons */

section .buttons.compass {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template-areas: 
            "nw n ne"
            "w center e"
            "sw s se";
}

.buttons.compass button.compass-nw { grid-area: nw; }
.buttons.compass button.compass-n { grid-area: n; }
.buttons.compass button.compass-ne { grid-area: ne; }
.buttons.compass button.compass-w { grid-area: w; }
.buttons.compass button.compass-center { grid-area: center; }
.buttons.compass button.compass-e { grid-area: e; }
.buttons.compass button.compass-sw { grid-area: sw; }
.buttons.compass button.compass-s { grid-area: s; }
.buttons.compass button.compass-se { grid-area: se; }

button.requestFullscreen {
  position: absolute;
  top: 1em;
  right: 1em;
  margin: 0;
  padding: 0.4em 0.6em;
  line-height: 1;
  opacity: 0.2;
}

button.requestFullscreen::before {
  content: "⛶";
}

.fullscreen button.requestFullscreen {
  display: none;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

small {
  font-size: 0.8em;
}

button {
  margin: 0.6em;
  padding: 0.4em 0.8em;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 0.2em;
}

.panel {
  margin: 0.5em;
  padding: 0.5em;
}

input.code {
  font-family: monospace;
}

@media (min-aspect-ratio: 5/4) {
  /*
  body   {
    flex-direction: row;
  }

  #interface-response,
  #interface-control,
  .buttons {
    flex-direction: column;
    align-items: stretch;
  }
  
  .buttons button {
    flex: 0;
  }
*/
}
