* {
  box-sizing: border-box;
  font-size: 1em;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  /* flex parent */
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 100%;
}

#interface-display,
#interface-monitor {
  /* flex child */
  flex: 0 1 100vh; /* use full height initially, but shrink */
  
  /* flex parent (for text child elements etc.) */
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative; /* make offset parent */
  overflow: hidden;

  background-color: #000000;
  color: #ffffff;
  font-size: 1.2em;
}

#interface-display canvas,
#interface-monitor canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#interface-response,
#interface-control {
  /* flex child */
  flex: 1 0 0; /* use no height initially, but grow fully with content */

  /* flex parent */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 45em;
  white-space: pre-wrap;
  text-align: center;
  line-height: 1.7;
}

.buttons {
  /* flex parent */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  /* flex child */
  flex: 1;
  padding: 0.3em;
}

.buttons button {
  /* flex child */
  flex: 0 1 80px; /* do *not* grow to available space - interestingly, content still grows the button which is good */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3em;
}

/* compass buttons */

.buttons.compass {
  display: grid;
  grid-template-areas: 
            "nw n ne"
            "w center e"
            "sw s se";
}

.buttons.compass button.compass-nw { grid-area: nw; }
.buttons.compass button.compass-n { grid-area: n; }
.buttons.compass button.compass-ne { grid-area: ne; }
.buttons.compass button.compass-w { grid-area: w; }
.buttons.compass button.compass-center { grid-area: center; }
.buttons.compass button.compass-e { grid-area: e; }
.buttons.compass button.compass-sw { grid-area: sw; }
.buttons.compass button.compass-s { grid-area: s; }
.buttons.compass button.compass-se { grid-area: se; }

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

small {
  font-size: 0.8em;
}

button {
  margin: 0.6em;
  padding: 0.4em 0.8em;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 0.2em;
}

.panel {
  margin: 0.5em;
  padding: 0.5em;
}

input.code {
  font-family: monospace;
}

@media (min-aspect-ratio: 5/4) {
  /*
  body   {
    flex-direction: row;
  }

  #interface-response,
  #interface-control,
  .buttons {
    flex-direction: column;
    align-items: stretch;
  }
  
  .buttons button {
    flex: 0;
  }
*/
}
